[Unit]
Description=Backup service

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -avh /home/pi/pihole/ fileserver@fileserver.tyler-clark.com:/mnt/backups/pihole/
